.brand-mark {
    width: 30px;
    height: 34px;
    color: var(--shopra-accent-dark);
    place-items: center;
    display: grid;
    position: relative;
}
.brand-mark>span {
    font-size: 8px;
    font-weight: 800;
    line-height: 1;
    position: absolute;
    top: 13px;
}